#mydiv{
    width: 350px;
    height: 200px;
    background-color: rgb(255, 243, 33);
    margin: 100px 0px 0px 100px;
    /* transform: translate(100px,50px); */
    -webkit-animation:'colorful' 10s ease-in-out infinite;
    animation: 'colorful' 10s ease-in-out infinite;
    
}
#bird{
    width: 85px;
    height: 75px;
    /* -webkit-transform: scaleX(1); */
    /* transform:scaleX(1); */
    -webkit-animation: 'fly' 15s linear infinite;
    animation: 'fly' 15s linear infinite;
}
#wheel01,#wheel02{
    width: 100px;
    height: 100px;
    margin: -40px 0px 0px 115px;
}
#wheel01,#wheel02{ -webkit-animation: 'rotate1'2s linear infinite;
    animation: 'rotate1' 2s linear infinite;
}
@-webkit-keyframes rotate1{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes rotate1 {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes fly{
    0%{transform: translate(0px,0px) scaleX(1);}
    45%{transform: translate(600px,0px)scaleX(1);}
    50%{transform: translate(600px,0px)scaleX(-1);}
    95%{transform: translate(0px,0px)scaleX(-1);}
    100%{transform: scaleX(1);}
}
@keyframes colorful{
    0% {background-color: rgb(255, 243, 33);}
    33%{background-color: rgb(255, 218, 33);}
    66%{background-color: rgb(255, 177, 33);}
    100%{background-color: rgb(255, 243, 33);}
}